body{
  margin: 0;
  background-color: rgba(0, 255, 157, 0.05);
 

}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(rgb(18, 21, 228), rgb(18, 151, 212));
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-shadow: 1.5px 1.5px 1px rgba(85, 83, 83, 0.651);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}


li a:hover, .dropdown:hover .dropbtn {
  background-color: rgba(0, 0, 0, 0.2);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #0098f098;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}
#conteudo{
 width: 80%;
 height: 200px;
 margin: 20px 16%;
}
.foto{
  width: 30px;
  height: 30px;
  background-color: chartreuse;
}